body {
  font-family: 'Inter', Arial, sans-serif;
}
input[type="email"], input[type="password"], input[type="text"] {
  transition: box-shadow 0.18s cubic-bezier(.4,0,.2,1);
}
input:focus {
  box-shadow: 0 0 0 3px #1570ef44;
}
#login-error,
#mfa-error {
  display: none;
}
#login-error.active,
#mfa-error.active {
  display: block;
}
